.landing {
  /* height: 200px; */
  position: relative;
  border-radius: 10px;
  z-index: 1;
}

.landing::before {
  position: absolute;
  left: -10%;
  top: 20%;
  height: 80%;
  width: 100%;
  background-image: linear-gradient(93.51deg, #8da8c6 1.84%, #dbecff 99.18%);
  filter: blur(120px);
  z-index: -1;
  content: "";
}

.landingImageBg {
  /* height: 200px; */
  position: relative;
  border-radius: 10px;
  z-index: 1;
}

.landingImageBg::before {
  position: absolute;
  top: -100px;
  height: 180px;
  width: 100%;
  background-image: linear-gradient(93.51deg, #8da8c6 1.84%, #365ad273 99.18%);
  filter: blur(100px);
  z-index: -1;
  content: "";
}
